<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <div class="page__intro--container">
        <h3><%= pageTitle %></h3>
        <p><%= pageDescription %></p>
    </div>

    <% if (locals.destinations || locals.tips) { %>
        <% if(locals.destinations) { %>
            <div class="destination__div--container">
                <div class="bg__picture">
                    <h4><a href="/destinations/city-guide">City Guide</a></h4>
                </div>
                <div class="bg__picture">
                    <h4><a href="/destinations/nature-spots">Nature Spots</a></h4>
                </div>
            </div>
        <% } else { %>
            <div class="tips__div--container">
                <div class="bg__picture">
                    <h4><a href="/travel-tips/packing-tips">Packing</a></h4>
                </div>
                <div class="bg__picture">
                    <h4><a href="/travel-tips/safety-tips">Safety</a></h4>
                </div>
            </div>
        <% } %>
    <% } %>

    <% if(locals.cityGuideArray || locals.natureSpotsArray || locals.packingArray || locals.safetyArray) { %>
            <% if(locals.cityGuideArray) { %>
                <div class="city-guide--container">
                    <% cityGuideArray.forEach(item => { %>
                        <div class="details">
                            <h4><%= item.name %>, <%= item.location %></h4>
                            <p><%= item.description %></p>
                        </div>
                    <% }) %>
                </div>
                <div class="bg__picture">
                    <h4><a href="/destinations/nature-spots">Nature Spots</a></h4>
                </div>

            <% } else if (locals.natureSpotsArray) { %>
                <div class="nature-spots--container">
                    <% natureSpotsArray.forEach(item => { %>
                        <div class="details">
                            <h4><%= item.name %>, <%= item.location %></h4>
                            <p><%= item.description %></p>
                        </div>
                    <% }) %>
                </div>
                <div class="bg__picture">
                    <h4><a href="/destinations/city-guide">City Guide</a></h4>
                </div>

            <% } else if (locals.packingArray) { %>
                <div class="packing--container">
                    <% packingArray.forEach(item => { %>
                        <div class="details">
                            <h4><%= item.title %></h4>
                            <p><%= item.description %></p>
                        </div>
                    <% }) %>
                </div>
                <div class="bg__picture">
                    <h4><a href="/travel-tips/safety-tips">Safety</a></h4>
                </div>

            <% } else { %>
                <div class="safety--container">
                    <% safetyArray.forEach(item => { %>
                        <div class="details">
                            <h5><%= item.title %></h5>
                            <p><%= item.description %></p>
                        </div>
                    <% }) %>
                </div>
                <div class="bg__picture">
                    <h4><a href="/travel-tips/packing-tips">Packing</a></h4>
                </div>
            <% } %>
    <% } %>

</main>
<%- include("../partials/footer.ejs") %>

