<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
<main>
    <div class="page__intro--container">
        <h3><%= pageTitle %></h3>
        <p><%= pageDescription %></p>
    </div>
    <div class="city-guide--container hidden">
        <% if(locals.cityGuideArray) { %>
            <% cityGuideArray.forEach(city => { %>
                <div class="city-guide__details">
                    <h4><%= city.name %>, <%= city.location %></h4>
                    <p><%= city.description %></p>
                </div>
            <% }) %>
        <% } %>
    </div>
    <div class="city-guide bg__picture">
        <h4><a href="/destinations/city-guide">City Guide</a></h4>
    </div>
    <div class="nature-spots--container hidden">
        <% if(locals.natureSpotsArray) { %>
            <% natureSpotsArray.forEach(destination => { %>
                <div class="nature-spots__details">
                    <h4><%= destination.name %>, <%= destination.location %></h4>
                    <p><%= destination.description %></p>
                </div>
            <% }) %>
        <% } %>
    </div>
    <div class="nature-spots bg__picture">
        <h4><a href="/destinations/nature-spots">Nature Spots</a></h4>
    </div>
    
    
</main>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var path = window.location.pathname;
  
      if (path === '/destinations/city-guide') {
        document.querySelector('.city-guide--container').classList.remove('hidden');
        document.querySelector('.city-guide').classList.add('hidden');
      } else if (path === '/destinations/nature-spots') {
        document.querySelector('.nature-spots--container').classList.remove('hidden');
        document.querySelector('.nature-spots').classList.add('hidden');
      }
    });
</script>

<%- include("../partials/footer.ejs") %>